#game-board {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px; /* Set the width of the game board */
    height: 300px; /* Set the height of the game board */
    border: 1px solid black; /* Add a border to the game board */
}
button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center; /* Center the text within the button */
  margin: 10px auto; /* Center the button horizontally */
}

.snake {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: green;
}

.food {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer img {
    margin-right: 15px;
}

h1 {
    color: #333;
    margin-top: 20px;
    text-align: center;
  
}
/* For tablets and laptops (min-width: 768px) */
@media (min-width: 768px) {
    #game-board {
      background-color: #baa4a4;
    }
  }
  
  /* For phones (max-width: 480px) */
  @media (max-width: 480px) {
    #game-board {
      background-color: #5a6b5a;
    }
  }
  